<% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image %>
    <% end %>
    
    <p>タイトル：<%= post.title %></p>
    <p>説明：<%= post.caption %></p>
    <p>ユーザーネーム：<%= post.user.name %></p>
  </div>
<% end %>
